{% trans_default_domain 'base' %}

<!DOCTYPE html>
<html lang="{{ 'language' | trans }}">
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <meta name="description" content="{{ 'description.content' | trans }}">
        <meta name="keywords" content="{{ 'keywords.content' | trans }}">
        
        <link rel="icon" 
              sizes="16x16" 
              type="image/x-icon" 
              href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet"
                  href="{{ asset('bundles/mdsrstudio/css/reset.css') }}" />
            <link rel="stylesheet"
                  href="{{ asset('bundles/mdsrstudio/css/default.css') }}" />
        {% endblock %}
    </head>
    
    <body>
        <div id="main-container">{% block body %}{% endblock %}</div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
