{% extends "::base.html.twig" %}

{% block body %}
    <header>
        <img src="{{ asset('bundles/mdsrstudio/images/mdsr_studio_logo.png') }}"
             alt="mdsr studio logo image"
             title="mdsr software studio by Mauricio Del Solar">

        <nav>
            <p>by Mauricio Del Solar</p>

            <ul id="menu">
                {% if menuLinkOff == 'work' %}
                    <li class="menu-link-off">
                        {{ 'menu.work' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_work') }}">
                            {{ 'menu.work' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}

                {% if menuLinkOff == 'training' %}
                    <li class="menu-link-off">
                        {{ 'menu.training' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_training') }}">
                          {{ 'menu.training' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}

                {% if menuLinkOff == 'hire' %}
                    <li class="menu-link-off">
                        {{ 'menu.hireme' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_hireme') }}">
                            {{ 'menu.hireme' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}

                {% if menuLinkOff == 'about' %}
                    <li class="menu-link-off">
                        {{ 'menu.about' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_about') }}">
                            {{ 'menu.about' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <section id="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        <h1>{{ 'footer.contact' | trans({}, 'footer') }}</h1>

        <section id="links">
            <article id="contact">
                <h1>{{ 'footer.contactme' | trans({}, 'footer') }}</h1>

                <ul>
                    <li>
                        <a href="mailto:mdsr.pro@gmail.com">
                            mdsr.pro@gmail.com
                        </a>
                    </li>

                    <li>
                        <a href="mailto:support@mdsrstudio.com">
                            support@mdsrstudio.com
                        </a>
                    </li>
                </ul>
            </article>

            <article id="avaliability">
                <h1>
                    {{ 'footer.avaliability' | trans({}, 'footer') }}
                    
                    {% if avaliability == 1 %}
                        <em>{{ 'footer.avaliability.high' | trans({}, 'footer') }}</em>
                    {% elseif avaliability == 2 %}
                        <em>{{ 'footer.avaliability.medium' | trans({}, 'footer') }}</em>
                    {% elseif avaliability == 3 %}
                        <em>{{ 'footer.avaliability.low' | trans({}, 'footer') }}</em>
                    {% endif %}
                </h1>

                <table>
                    <thead>
                        <tr>
                            <th style="text-align: left;">
                                0-2 {{ 'footer.days' | trans({}, 'footer') }}
                            </th>

                            <th style="text-align: center;">
                                3-5 {{ 'footer.days' | trans({}, 'footer') }}
                            </th>

                            <th style="text-align: right;">
                                6-10 {{ 'footer.days' | trans({}, 'footer') }}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div id="bg-avaliability-bar">
                                    {% if avaliability == 1 %}
                                        <div id="avaliability-bar" style="width: 5%;"></div>
                                    {% elseif avaliability == 2 %}
                                        <div id="avaliability-bar" style="width: 45%;"></div>
                                    {% elseif avaliability == 3 %}
                                        <div id="avaliability-bar" style="width: 85%;"></div>
                                    {% endif %}
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>

            <article id="follow">
                <h1>{{ 'footer.followme' | trans({}, 'footer') }}</h1>

                <ul>
                    <li>
                        
                        <a href="http://es.linkedin.com/in/mauriciodelsolar/" 
						   target="_blank"
						   title="{{ 'footer.linkedin' | trans({}, 'footer') }}">
	                       <img src="{{ asset('bundles/mdsrstudio/images/linkedin_icon.png') }}"
	                             alt="Linkedin logo image.">linkedin</a>
                    </li>

                    <li>
                       
                        <a href="#" 
						   target="_blank" 
						   title="{{ 'footer.facebook' | trans({}, 'footer') }}">
						   <img src="{{ asset('bundles/mdsrstudio/images/facebook_icon.png') }}"
						   		alt="Facebook logo image.">facebook</a>
                    </li>

                    <li>
                        
                        <a href="https://twitter.com/mauricio_myself"
						   target="_blank"
						   title="{{ 'footer.twitter' | trans({}, 'footer') }}">
	                       <img src="{{ asset('bundles/mdsrstudio/images/twitter_icon.png') }}"
	                             alt="Twitter logo image.">twitter</a>
                    </li>
                </ul>
            </article>

            <article id="resume">
                <p>{{ 'footer.resume' | trans({}, 'footer') | raw }}</p>

                <a href="{{ path('mdsr_studio_about') }}">
                    {{ 'footer.more' | trans({}, 'footer') }}
                </a>
            </article>
        </section>

        <section id="white">
            <section id="funny-stats">
				<p>
					<strong>{{ code_lines }}</strong>
					{{ 'footer.stats.code' | trans({}, 'footer') }}</p>
                <p>
					<strong>{{ diapers }}</strong>
					{{ 'footer.stats.diapers' | trans({}, 'footer') }}</p>
				<p>
					<strong>{{ courses_hours }}</strong>
					{{ 'footer.stats.courses' | trans({}, 'footer') }}</p>
				<p>
					<strong>{{ songs }}</strong>
					{{ 'footer.stats.songs' | trans({}, 'footer') }}</p>
				<p>
					<strong>{{ bike_km }}</strong>
					{{ 'footer.stats.bike' | trans({}, 'footer') }}</p>
            </section> 

            <section id="language">
                {% if app.request.locale == 'en' %}
                    <span>English</span>
                {% else %}
                    <a href="{{ path('mdsr_studio_work', { '_locale': 'en' }) }}">English</a>
                {% endif %}
                &nbsp;|&nbsp;

                {% if app.request.locale == 'es' %}
                    <span>Español</span>
                {% else %}
                    <a href="{{ path('mdsr_studio_work', { '_locale': 'es' }) }}">Español</a>
                {% endif %}
                &nbsp;|&nbsp;

                {% if app.request.locale == 'gl' %}
                    <span>Galego</span>
                {% else %}
                    <a href="{{ path('mdsr_studio_work', { '_locale': 'gl' }) }}">Galego</a>
                {% endif %}

                <p>&copy; 2013 - mdsr studio - {{ site_version }} - {{ 'footer.rights' | trans({}, 'footer') }}</p>
            </section>
        </section>
    </footer>
{% endblock %}
