{% extends "::base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet"
          href="{{ asset('bundles/mdsrStudio/css/studio.css') }}" />
{% endblock %}

{% block title 'mdsr Studio Web' %}

{% block body %}
    <header>
        <section id="logo">
            <img src="{{ asset('bundles/mdsrstudio/images/mdsr_studio_logo.png') }}"
                 alt="mdsr studio logo image"
                 title="mdsr software studio by Mauricio Del Solar">
            <span>by Mauricio Del Solar</span>
        </section>

        <nav>
            <ul id="menu">
                {% if menuLinkOff == 'work' %}
                    <li class="menu-link-off">
                        {{ 'menu.work' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_work') }}">
                            {{ 'menu.work' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}

                {% if menuLinkOff == 'training' %}
                    <li class="menu-link-off">
                        {{ 'menu.training' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_training') }}">
                          {{ 'menu.training' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}

                {% if menuLinkOff == 'hire me' %}
                    <li class="menu-link-off">
                        {{ 'menu.hireme' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_hireme') }}">
                            {{ 'menu.hireme' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}

                <li>
                    <a href="#">blog</a>
                </li>

                {% if menuLinkOff == 'about' %}
                    <li class="menu-link-off">
                        {{ 'menu.about' | trans({}, 'header') }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_about') }}">
                            {{ 'menu.about' | trans({}, 'header') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <section id="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        <section id="links">
            <h1>{{ 'footer.contact' | trans({}, 'footer') }}</h1>

            <article id="contact">
                <h1>{{ 'footer.contactme' | trans({}, 'footer') }}</h1>

                <ul>
                    <li>
                        <a href="mailto:mdsr.pro@gmail.com">
                            mdsr.pro@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="mailto:support@mdsrstudio.com">
                            support@mdsrstudio.com
                        </a>
                    </li>
                </ul>
            </article>

            <article id="avaliability">
                <h1>
                    {{ 'footer.avaliability' | trans({}, 'footer') }}
                    <em>{{ avaliabilityText }}</em>
                </h1>

                <table>
                    <thead>
                        <tr>
                            <th>
                                0-2 {{ 'footer.days' | trans({}, 'footer') }}
                            </th>

                            <th>
                                3-5 {{ 'footer.days' | trans({}, 'footer') }}
                            </th>

                            <th>
                                6-10 {{ 'footer.days' | trans({}, 'footer') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div id="bg-avaliability-bar"></div>
                                <div id="avaliability-bar"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>

            <article id="follow">
                <h1>{{ 'footer.followme' | trans({}, 'footer') }}</h1>
                <ul>
                    <li>
                        <img src="{{ asset('bundles/mdsrstudio/images/linkedin_icon.png') }}"
                             alt="Linkedin logo image.">
                        <a href="#" 
                           title="Go to Mauricio linkedin account.">
                           linkedin
                        </a>
                    </li>
                    <li>
                       <img src="{{ asset('bundles/mdsrstudio/images/facebook_icon.png') }}"
                            alt="Facebook logo image.">
                        <a href="#" 
                           title="Go to mdsr studio facebook account.">
                           facebook
                       </a>
                    </li>
                    <li>
                        <img src="{{ asset('bundles/mdsrstudio/images/twitter_icon.png') }}"
                             alt="Twitter logo image.">
                        <a href="#" 
                           title="Go to Mauricio twitter account.">
                           twitter
                        </a>
                    </li>
                </ul>
            </article>

            <article id="resume">
                <p>{{ 'footer.resume' | trans({}, 'footer') | raw }}</p>

                <a href="{{ path('mdsr_studio_about') }}">
                    {{ 'footer.more' | trans({}, 'footer') }}
                </a>
            </article>
        </section>

        <section id="white">
            <section id="funny-stats">
                <div class="funny_stat">
                    <strong>476</strong>
                    <p>{{ 'footer.stats.code' | trans({}, 'footer') }}</p>
                </div>

                <div class="funny_stat">
                    <strong>12</strong>
                    <p>{{ 'footer.stats.diapers' | trans({}, 'footer') }}</p>
                </div>

                <div class="funny_stat">
                    <strong>308</strong>
                    <p>{{ 'footer.stats.courses' | trans({}, 'footer') }}</p>
                </div>

                <div class="funny_stat">
                    <strong>5</strong>
                    <p>{{ 'footer.stats.songs' | trans({}, 'footer') }}</p>
                </div>

                <div class="funny_stat">
                    <strong>73</strong>
                    <p>{{ 'footer.stats.bike' | trans({}, 'footer') }}</p>
                </div>
            </section>

            <section id="language">
                <a href="{{ path('mdsr_studio_work', { '_locale': 'en' }) }}">
                    English
                </a>&nbsp;|&nbsp;

                <a href="{{ path('mdsr_studio_work', { '_locale': 'es' }) }}">
                    Español
                </a>&nbsp;|&nbsp;

                <a href="{{ path('mdsr_studio_work', { '_locale': 'gl' }) }}">
                    Galego
                </a>
            </section>

            <p>
				&copy; 2013 - mdsr studio -
				{{ 'footer.rights' | trans({}, 'footer') }}
            </p>
        </section>
    </footer>
{% endblock %}
