{% extends "::base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" 
          href="{{ asset('bundles/mdsrStudio/css/studio.css') }}" />
{% endblock %}

{% block title 'mdsr Studio Web' %}

{% block body %}
    <header>
        <section id="logo">
            <img src="{{ asset('Bundles/mdsrstudio/images/mdsr_studio_logo.png') }}" 
                 alt="mdsr studio logo image"
                 title="mdsr software studio by Mauricio Del Solar">
            <span>by Mauricio Del Solar</span>
        </section>
        
        <nav>
            <ul id="menu">
                {% if menuLinkOff == 'work' %}
                    <li class="menu-link-off">trabajo</li>
                {% else %}
                    <li><a href="{{ path('mdsr_studio_work') }}">trabajo</a></li>
                {% endif %}
                
                {% if menuLinkOff == 'training' %}
                    <li class="menu-link-off">formación</li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_training') }}">
                            formación
                        </a>
                    </li>
                {% endif %}
                
                {% if menuLinkOff == 'hire me' %}
                    <li class="menu-link-off">contrátame</li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_hireme') }}">
                            contrátame
                        </a>
                    </li>
                {% endif %}
                
                <li>
                    <a href="#">blog</a>
                </li>

                {% if menuLinkOff == 'about' %}
                    <li class="menu-link-off">sobre mi</li>
                {% else %}
                    <li>
                        <a href="{{ path('mdsr_studio_about') }}">sobre mi</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <section id="content">
        {% block content %}{% endblock %}
    </section>

    <footer>
        <section id="links">
            <h1>Contacto</h1>

            <article id="contact">
                <h1>Contáctame</h1>
                
                <ul>
                    <li>
                        <a href="mailto:mdsr.pro@gmail.com">
                            mdsr.pro@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="mailto:support@mdsrstudio.com">
                            support@mdsrstudio.com
                        </a>
                    </li>
                </ul>
            </article>

            <article id="avaliability">
                <h1>Mi disponibilidad: <em>{{ avaliabilityText }}</em></h1>

                <table>
                    <thead>
                        <tr>
                            <th>0-2 days</th>
                            <th>3-5 days</th>
                            <th>6-10 days</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div id="bg-avaliability-bar"></div>
                                <div id="avaliability-bar"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>

            <article id="follow">
                <h1>Sígueme</h1>
                <ul>
                    <li>
                        linkedin
                        <a href="#">
                            <img src="linkedin_logo.png" 
                                 alt="Linkedin logo image."
                                 title="Go to Mauricio linkedin account.">
                        </a>
                    </li>
                    <li>
                        facebook
                        <a href="#">
                            <img src="facebook_logo.png" 
                                 alt="Facebook logo image."
                                 title="Go to mdsr studio facebook account.">
                        </a>
                    </li>
                    <li>
                        twitter
                        <a href="#">
                            <img src="twitter_logo.png" 
                                 alt="Twitter logo image."
                                 title="Go to Mauricio twitter account.">
                        </a>
                    </li>
                </ul>
            </article>

            <article id="resume">
                <p>
                    <em>mdsr studio</em> es la web personal del desarrollador y 
                    formador freelance <em>Mauricio del Solar</em>. En ella 
                    puedes encontrar información sobre él, sus trabajos, sus 
                    cursos, etc.
                </p>

                <a href="{{ path('mdsr_studio_about') }}">Saber más...</a>
            </article>
        </section>

        <section id="white">
            <section id="funny-stats">
                <div class="funny_stat">
                    <strong>476</strong>
                    <p>lineas de código escritas hoy.</p>
                </div>

                <div class="funny_stat">
                    <strong>12</strong>
                    <p>pañales cambiados esta semana.</p>
                </div>

                <div class="funny_stat">
                    <strong>308</strong>
                    <p>horas de cursos este año.</p>
                </div>

                <div class="funny_stat">
                    <strong>5</strong>
                    <p>canciones escuchadas hoy.</p>
                </div>

                <div class="funny_stat">
                    <strong>73</strong>
                    <p>km. en bici esta semana.</p>
                </div>
            </section>

            <section id="language">
                <a href="#">English</a>&nbsp;|&nbsp;
                <a href="#">Español</a>&nbsp;|&nbsp;
                <a href="#">Galego</a>
            </section>
            
            <p>&copy; 2013 - mdsr studio - Todos los derechos reservados.</p>
        </section>
    </footer>
{% endblock %}
