 {% extends "mdsrStudioBundle::layout.html.twig" %}

{% block content %}
    <h1>{{ 'hello' | trans({}, 'about') }}</h1>

    <img src="bundles/mdsrstudio/images/me_myself.png"
     alt="{{ 'image.alt' | trans({}, 'about') }}"
     title="{{ 'image.title' | trans({}, 'about') }}">
    
    <article class="hello-column">
        <p>{{ 'hello.p1' | trans({}, 'about') | raw }}</p>
        <p>{{ 'hello.p2' | trans({}, 'about') | raw }}</p>
    </article>

    <article class="hello-column">
        <p>{{ 'hello.p3' | trans({}, 'about') | raw }}</p>
        <p>{{ 'hello.p4' | trans({}, 'about') | raw }}</p>
        <p>{{ 'hello.p5' | trans({}, 'about') | raw }}</p>
        <p>{{ 'hello.p6' | trans({}, 'about') | raw }}</p>
    </article>
{% endblock %}