{% extends "mdsrStudioBundle::layout.html.twig" %}

{% block content %}
    <h1>{{ 'work.together' | trans({}, 'hireme') }}</h1>

    <figure>
        <img src="bundles/mdsrstudio/images/home_map.png" 
             alt="{{ 'image.alt' | trans({}, 'hireme') }}" 
             title="{{ 'image.figcaption' | trans({}, 'hireme') }}">

        <figcaption>
            {{ 'image.figcaption' | trans({}, 'hireme') }}
        </figcaption>
    </figure>

    <article id="development">
        <h1>{{ 'development.header' | trans({}, 'hireme') }}</h1>

        <p>{{ 'development.p1' | trans({}, 'hireme') }}</p>
        <p>{{ 'development.p2' | trans({}, 'hireme') }}</p>
    </article>

    <article id="training">
        <h1>{{ 'training.header' | trans({}, 'hireme') }}</h1>

        <p>{{ 'training.p1' | trans({}, 'hireme') }}</p>
        <p>{{ 'training.p2' | trans({}, 'hireme') }}</p>
    </article>

    <article id="skills">
        <h1>{{ 'skills.header' | trans({}, 'hireme') }}</h1>

        <p>{{ 'skills.p1' | trans({}, 'hireme') }}</p>
    </article>
{% endblock %}