{% extends "mdsrStudioBundle::layout.html.twig" %}
{% trans_default_domain 'training' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet"
          href="{{ asset('bundles/mdsrstudio/css/training.css') }}" />
{% endblock %}

{% block content %}
<h1>{{ 'last.courses' | trans }}</h1>

<img src="{{ asset('bundles/mdsrstudio/images/chalkboard.png') }}" 
     alt="{{ 'last.courses' | trans }}" 
     title="Skills, Creativity, Innovation, Knowlege, Development.">

<ul>
    {% for course in courses %}
        {% set startDate = course.startDate|date('Y') %}
        {% set endDate = course.endDate|date('Y') %}

        <li>
            <article>
                <img src="{{ asset('bundles/mdsrstudio/images/' ~ course.image) }}" 
                     alt="Course logo image" 
                     title="Course logo image">
                <h1>{{ course.title }}</h1>

                <p>{{ course.content }}</p>
                <p class="course-data">
                    {{ 'organizer' | trans }}
                    <a href="{{ course.organizerLink }}">{{ course.organizer }}</a> - {{ course.place }}
                    {% if startDate == endDate %}
                          {{ startDate }}
                    {% else %}
                        {{ startDate }}/{{ endDate }}
                    {% endif %}
                </p>
            </article>
        </li>
    {% endfor %}
</ul>

{% endblock %}