{% extends "mdsrStudioBundle::layout.html.twig" %}

{% block content %}
    <img src="Bundles/mdsrstudio/images/work_cover.png"
         alt="{{ 'cover.alt' | trans({}, 'work') }}"
         title="{{ 'cover.title' | trans({}, 'work') }}">

    <section id="showroom">
        <nav id="ios-apps">
            <ul>
                <li>
                    <a href="#">
                        <img src="Bundles/mdsrstudio/images/dincalc_icon.png" 
                             alt="{{ 'dincalc.alt' | trans({}, 'work') }}"
                             title="{{ 'dincalc.title' | trans({}, 'work') }}">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="Bundles/mdsrstudio/images/smartket_icon.png" 
                             alt="{{ 'smartket.alt' | trans({}, 'work') }}"
                             title="{{ 'smartket.title' | trans({}, 'work') }}">
                    </a>
                </li>

                <li>
                    <a href="#">
                        <img src="Bundles/mdsrstudio/images/basebook_icon.png" 
                             alt="{{ 'basebook.alt' | trans({}, 'work') }}"
                             title="{{ 'basebook.title' | trans({}, 'work') }}">
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <img src="Bundles/mdsrstudio/images/dincalc_plus_icon.png" 
                             alt="{{ 'dincalcplus.alt' | trans({}, 'work') }}"
                             title="{{ 'dincalcplus.title' | trans({}, 'work') }}">
                    </a>
                </li>
            </ul>
        </nav>
    </section>
{% endblock %}