{% extends "mdsrStudioBundle::layout.html.twig" %}
{% trans_default_domain 'work' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet"
          href="{{ asset('bundles/mdsrstudio/css/work.css') }}" />
{% endblock %}

{% block content %}
    <img src="{{ asset('bundles/mdsrstudio/images/work_cover.png') }}"
         alt="{{ 'cover.alt' | trans }}"
         title="{{ 'cover.title' | trans }}">

    <section id="showroom">
        <nav>
            <ul>
                <li>
					<a id="dincalc" 
                       href="http://AppStore.com/DinCalc"
                       target="_blank">
					   <img src="{{ asset('bundles/mdsrstudio/images/dincalc_icon.png') }}" 
					   		alt="{{ 'dincalc.alt' | trans }}" 
							title="{{ 'dincalc.title' | trans }}">
					</a>
                </li>

                <li>
                    <a id="smartket" 
                       href="http://AppStore.com/Smartket"
                       target="_blank">
					   <img src="{{ asset('bundles/mdsrstudio/images/smartket_icon.png') }}" 
					   		alt="{{ 'smartket.alt' | trans }}" 
							title="{{ 'smartket.title' | trans }}">
				    </a>
                </li>

                <li>
                    <a id="basebook" 
                       href="http://AppStore.com/Basebook"
                       target="_blank">
					   <img src="{{ asset('bundles/mdsrstudio/images/basebook_icon.png') }}" 
					   		alt="{{ 'basebook.alt' | trans }}" 
							title="{{ 'basebook.title' | trans }}">
				    </a>
                </li>

                <li>
                    <a id="dincalc-plus"
                       href="http://AppStore.com/DinCalcPlus"
                       target="_blank">
					   <img src="{{ asset('bundles/mdsrstudio/images/dincalc_plus_icon.png') }}" 
					   		alt="{{ 'dincalcPlus.alt' | trans }}" 
							title="{{ 'dincalcPlus.title' | trans }}">
				    </a>
                </li>
            </ul>
        </nav>
    </section>
{% endblock %}